*{box-sizing:border-box;}
@font-face{
	font-family: Simplefont;
	src:url(../fonts/Pacifico.ttf);
}

html{/*background-:black;*/
		font-family: 'Simplefont','Lobster', cursive;
		background-image:url(../pic/background-1.jpg);
	
	    background-size:100%;
}
a{
	text-decoration:none;
	color:white;
}
.movie-logo{margin-right:1rem;}
ul{
	text-align:right;
}

nav ul li {
	display:inline-block;
	color:white;
	font-size:1rem;
	border:1px solid white;
	padding:1rem;
	margin:0 1rem 0 1rem;
	border-radius:10px;
	cursor:pointer;
	transition: 0.5s linear all;
}
nav ul li:hover{
	background-color:#666;
	font-size:2rem;
}
nav 
{background-color:rgba(242, 38, 19,0.6);
padding:5px;
	text-align:right;
	margin:0rem;
position:fixed;
width:100%;
top:0;
z-index:1;
}


body{
	margin-top:5.5rem;
}

h1{
	text-align:center;
padding-top:5rem;
color:white;}
button{
	background-color:#ccc;
	color:white;
	border:1px solid #ccc;
	padding:1rem;
	border-radius:5px;
	transition:.5s ease-in all;
	cursor:pointer;
}
.contactus{
	text-align:center;
margin-top:100px;
font-size:2rem;
}
.contact-form{
	text-align:center;
	margin-top:0px;

}

input,select, textarea, button[type="sumit"]{
	font-size:1.5rem;
	padding:1rem;
	margin:1rem;
	border-radius:5px;
	border:1px solid #ccc;
	min-width:400px;
	width:35%;

}


textarea {
	height: 150px;
}

.but-blue{
	background-color:#36D7B7;
}
.but-blue:hover{
	background-color:#03C9A9;
	font-size:2rem;
}

.poster-wrapper {
	width:30%;	
	height:auto;
	border-radius:10px;
	padding:10px;
	display:inline-block;
	color:white;
	text-align:left;
	transition:.3s linear padding;
	position:relative;

	
}



.poster-wrapper img{
	opacity:0.8;
    transition: 0.5s linear opacity;
    border:2px solid white;
}

.poster-wrapper img:hover{
	opacity:1;
  
}
.poster-wrapper:hover{
	padding:0px;
}

.poster-wrapper h2{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%);
	color:#f0f0f0;

}


.poster-section{
	text-align:center;

}

img{
	width:100%;
}

th,td{
	border:1px solid white;
	color:white;
	padding:1rem;
}
table{
	margin-left:auto;
	margin-right:auto;
}
footer {
  background-color: #333;
  padding: 2rem;
  
}

footer ul {
  margin: 0;
  padding: 0;
  text-align:center;
}

footer ul li {
  display: inline-block;
  color: white;
  margin: 0 1rem;
}
.team-section{
	text-align:center;
	width:100%;
	font-size:2rem;
	color:white;
    
    
}
.team-section img{
	width:50%;
	height:auto;
	border-radius:15px;
	padding:10px;
	opacity:0.8;
	transition:0.3s linear opacity;
	border:2px solid white;
	

}

.teamtext{margin:3rem;}

.team-section img:hover{
	opacity:1;
	padding:0px;
}